:root {
    --bg-color: var(--bs-gray-800);
    --font-color: var(--bs-white);
    --main-container-color: var(--bs-gray-700);
    --header-color: var(--bs-gray-700);
    --border-default: 1px solid var(--bs-dark);
}

* {
    color: var(--font-color);
}
body {
    background-color: var(--bg-color);
}

body > .content > header {
    background-color: var(--main-container-color);
    border-bottom: var(--border-default);
}

body > .content > .main-content {
    background-color: var(--main-container-color);
    border: var(--border-default);
}

.clear-input {
    display: block;
    position: absolute;
    right: 10px;
}